*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
:root {
    --borderColor : #EBEBEB;
    --borderDarkColor : #5E5E5E;
    --bacgrondBody: #F3F2EF;
}

body{
    background-color: var(--bacgrondBody) ;

}
.nav{
    width: 100%;
}
.container .left-aside{
    height: auto;
    border-radius: 20px;
    position: relative;
}
.container .content{
    height: auto;

}
.container .right-aside{
    height: auto;
    border-radius: 10px;
}
.container .left-aside .left-profil{
    border-radius: 10px;
    position: relative;
}
.container .left-aside .left-profil .image .img-back{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container .left-aside .left-profil .img-admin{
    z-index: 4;
    width: 80px;
    height: 80px;
    border-radius: 80%;
    background-position: center;
    background-size: cover;
}
.container .left-aside .left-profil-2{
    border-radius: 10px;
    min-height: auto  ;
}
.container .left-aside .left-profil-2 .event-group li {
    list-style-type: none;
}

.container .left-aside .left-profil-2 .event-group li a{
    list-style-type: none;
    padding: 5px;
    font-size: 10px;
    color: #666;
    text-decoration: none;
}
.container .left-aside .left-profil-2 .event-group li a:hover{
    background-color: rgb(102,102,102);
    color: black;
    cursor: pointer;
    transition: all .5s;
}
.container .left-aside .left-profil-2 .event-group li:first-child{
    font-weight: 600;
    font-size: 13px;
    padding: 5px;
}

.container .left-aside .left-profil-2 div .group li {
    list-style-type: none;
}

.container .left-aside .left-profil-2 div .group li a{
    list-style-type: none;
    padding: 5px;
    font-size: 10px;
    color: #666;
    text-decoration: none;
}
.container .left-aside .left-profil-2 div .group li a:hover{
    background-color: rgb(102,102,102);
    color: black;
    cursor: pointer;
    transition: all .5s;
}
.container .left-aside .left-profil-2 div .group li:first-child{
    font-weight: 600;
    font-size: 13px;
    padding: 5px;
}
.container .left-aside .left-profil-2 .events a{
    font-size: 12px;
}
.container .left-aside .left-profil-2 .events a label:hover{
    text-decoration: underline;
    cursor: pointer;
}
.container .left-aside .left-profil-2 .events a i{
    color: #666;
}
.container .left-aside .left-profil-2 .following-hastags a{
    font-size: 12px;
}
.container .left-aside .left-profil-2 .following-hastags a label:hover{
    text-decoration: underline;
    cursor: pointer;
}
.container .left-aside .left-profil-2 .more{
    position: relative;
}
.container .left-aside .left-profil-2 .more label{
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top:1px solid #666;
    color: #797979;
    transition: all .5s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.container .left-aside .left-profil-2 .more label:hover{
    background-color: #666;
    transition: all .5s;
    cursor: pointer;
    color: black;
}



/* User content*/

.container .left-aside .left-profil .user-content{
    font-size: 13px;
    border-bottom: 2px solid var(--borderColor) ;
}
.container .left-aside .left-profil .user-content .user-name a{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.container .left-aside .left-profil .profil-content{
    font-size: 10px;
}
.container .left-aside .left-profil .profil-content span a  {
    font-size: 15px;
    color: #666;
    text-decoration: none;

}
.container .left-aside .left-profil .profil-content span a :hover  {
    background-color: #EBEBEB ;

}
.container .left-aside .left-profil .profil-content span a .profil-view label  {

    color: blue;
    text-decoration: none;

}
.container .left-aside .left-profil .profil-content .profil-view{
    font-size: 12px;
}

/* View content*/

.container .left-aside .left-profil .view-content{
    font-size: 10px;
    border-bottom: 2px solid var(--borderColor) ;
}
.container .left-aside .left-profil .view-content span a  {
    font-size: 15px;
    color: black;
    text-decoration: none;

}
.container .left-aside .left-profil .view-content span a :hover  {
    background-color: #EBEBEB ;

}
.container .left-aside .left-profil .view-content .view-view{
    color: #666;
    font-size: 12px;

}
.container .left-aside .left-profil .view-content span a .view-view label {
    color: blue;
    text-decoration: none;
}

/* premium-content */

.container .left-aside .left-profil .premium-content{
    font-size: 10px;
    border-bottom: 2px solid var(--borderColor) ;
}
.container .left-aside .left-profil .premium-content span   {
    font-size: 12px;
    color: #666;

}
.container .left-aside .left-profil .premium-content span a :hover  {
    background-color: #EBEBEB ;

}
.container .left-aside .left-profil .premium-content .premium-view{
    color: #666;
    font-size: 12px;

}
.container .left-aside .left-profil .premium-content span a .premium-view label {
    color: blue;
    text-decoration: none;
}

.left-aside-2{
    height: 200px;
    border-radius: 20px;
}

/* content upper search*/
.container .content .row .content-upper{
    height: 150px;
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--borderColor);
    
}

.container .content .row .content-upper .image-and-search span img{
    width: 10%;
    border-radius: 50%;
    position: relative;
}
.container .content .row .content-upper .image-and-search span input{
    width: 80%;
    height: 50px;
    border-radius: 50px;
    outline: none;
    text-decoration: none;
    outline-style: none;
    border: 1px solid var(--borderDarkColor);
    padding-left: 20px;
    color: #5E5E5E;
}
.container .content .row .content-upper .image-and-search span input:hover{
    background-color: #EBEBEB;
}
.container .content .row .content-upper .events ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container .content .row .content-upper .events li{
    padding: 10px;
    margin: 0px 30px 10px 5px;
}
.container .content .row .content-upper .events li:hover{
    background-color: #EBEBEB;
    cursor: pointer;
}

/* contet lower-content */
.container .content .row .content-lower{
    height: auto;
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--borderColor);
    position: relative;
}
.container .content .row .content-lower .user-content-detail span{
    display: flex;
}
.container .content .row .content-lower .user-content-detail .user{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.container .content .row .content-lower .user-content-detail span .name{
    font-size: 11px;
    margin-left: 10px;
    flex-grow: 1;
}
.container .content .row .content-lower .user-content-detail span .content-icon{
    color: #666;
    padding: 10px;
    height: 30px;
    width: 40px;
    border-radius: 20px;
}
.container .content .row .content-lower .user-content-detail span .content-icon:hover{
    background-color:var(--bacgrondBody); 
    cursor: pointer;
}
.container .content .row .content-lower .user-content-detail{
    font-size: 12px;
}
.container .content .row .content-lower .user-content-detail .effect ul li{
    display: inline-block;
}
.container .content .row .content-lower .user-content-detail .effect ul li:hover{
    cursor: pointer;
    transform: scale(1);
    transition: .5s;
}
.container .content .row .content-lower .user-content-detail .effect ul li:last-child{
    float: right;
}
.container .content .row .content-lower .user-content-detail .state state-ul{
    display: inline-block;
    

}
.container .content .row .content-lower .user-content-detail .state .state-ul .state-li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}
.container .content .row .content-lower .user-content-detail .state .state-ul .state-li:hover{
    background-color: #EBEBEB;
    cursor: pointer;
}

/* right aside*/

.container .right-aside .right-bottom{
    border-radius: 10px;
}
.container .right-aside .right-aside-content label{
    font-size: 15px;
    font-weight: 600;
}
.container .right-aside .suggestion span img{
    width: 20%;
    border-radius: 50%;
    position: relative;
}
.container .right-aside .suggestion span{
    display: flex;
}
.container .right-aside .suggestion span .sug-follow{
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.container .right-aside .suggestion span .sug-follow .button{
    height: 30px;
    width: 120px;
    font-size: 15px;
    border-radius: 30px;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid var(--borderDarkColor);
    color: #5E5E5E;
}
.container .right-aside .suggestion span .sug-follow .button:hover{
    background-color: var(--bacgrondBody);
    border: 2px solid var(--borderDarkColor);
}

.container .right-aside #recommendation{
    font-size: 15px;
    padding: 5px;
    transition: .5s;
}
.container .right-aside #recommendation:hover{
    cursor: pointer;
    background-color: #EBEBEB;
    transition: .5s;
}

.container .right-aside .right-footer{
    border-radius: 10px;
    height: auto;
    position: relative;
}
.container .right-aside .link-footer{
    flex-wrap: wrap;
}
.container .right-aside .link-footer a{
    color: rgb(0, 0, 0,.5);
    font-size: 12px;
    margin: 3px 10px 0px 0px;
}
.container .right-aside .link-footer a:hover{
    color: var(--primary);

}
.container .right-aside .footer-footer{

    color: rgb(0, 0, 0,.5);
    font-size: 12px;
    padding: 25px;
}


/* Message Bar */

.messageBar{
    height: 55px;
    width: 288px;
    right: 10px;
    bottom: 0;
    border: 1px solid var(--borderColor);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}
.messageBar .imageBar span .admin-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-bottom: 10px;
}
.messageBar .imageBar span .admin-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-bottom: 10px;
}
.messageBar .imageBar span icon-detail i{
    margin-right: 5px;
    padding: 5px;
}

#messageIcons:hover{
    margin-right: 5px;
    border-radius: 50px;
    background-color:#EBEBEB ;
}

